<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval';">
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Hello World!</title>
</head>
<body>
    <div id="app">
        <div id="main-spinner-holder" v-if="isLoading">
            <div id="main-spinner" class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <section id="left" v-if="!isLoading">
            <h1>Всратый агент</h1>

            <div>
                <p>Подключение к серверу: <img :src="getTickOrCross(isConnected)"></p>
                <p>Идентифицирован как: <span :class="isConnected ? 'loaded' : 'not-loaded'">{{
                        agentObject.personName
                    }}</span></p>

                <p class="large-gap">Dota 2 запущена: <img :src="getTickOrCross(isDota2Launched)"></p>
                <p>Идёт игра: <img :src="getTickOrCross(isGameInProgress)"></p>

                <p class="large-gap">В дискорде с ботом: <img :src="getTickOrCross(isInDiscordWithABot)"></p>
            </div>

            <footer>Ваш ID: {{ id }}</footer>
        </section>

        <section id="right" v-if="!isLoading">
            <h2>События</h2>
            <div id="events-block">
                <div id="events">
                    <div v-for="event in events" :class="event.type === INFO_EVENT_TYPE ? 'success-event' : 'failure-event'">
                        {{ event.time }}: {{ event.message }}
                    </div>
                </div>
                <button>Копировать</button>
            </div>
            <div id="pudgeHolder">
                <img id="pudgeImage" src="img/pudgedog.png" v-on:click="clickPudge()">
                <video width="240" id="pudgeVideo" class="hidden" v-on:ended="stopPudgeVideo()">
                    <source src="video/pudge_go_f_yourself.mp4" type="video/mp4" />
                </video>
            </div>
        </section>
    </div>
</body>

<script src="js/vue.js"></script>
<script src="js/index.js"></script>
</html>